$main-bg : #2a3447;
$soft-bg: #384256;
$dark-bg : #222b3c;
$main-color:white;
$soft-color:#ddd;
$dark-color:#2a3447;
$links : rgb(134 173 255);
$links_hover:rgb(68, 110, 202);
$bg-button:#5c7d97;
$bg-button-hover:#3d6280;
$close-color:#778697;
$close-color-hover:#a3b2c3;
