@import '../../styles/Responsive.scss';
.footer {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    @include sm {
        flex-direction: column-reverse;
        gap: 20px;
    
    }
    .links {
        display: flex;
        align-items: center;
        gap: 25px;
        .icon{
            font-size: 30px;
            cursor: pointer;
        }
    }
}